[Desktop Entry]
Type=Application
Name=Kiosk Idle Daemon
Exec=xautolock -time 2 -locker /usr/local/bin/kiosk-idle-handler.sh
Hidden=false
NoDisplay=true