[Unit]
Description=Library power schedule
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/library-power-check.sh

[Install]
WantedBy=multi-user.target