[Unit]
Description=Library Power Schedule
Documentation=man:shutdown(8)
After=local-fs.target
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/apply-power-schedule.sh
User=root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target